body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: green;
  color: white;
  border: none;
}
